.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    flex-wrap: wrap;
    align-content: flex-start;
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 100%, 70%);
}
#box2{
    background-color: hsl(51, 83%, 56%);
}
#box3{
    background-color: hsl(133, 87%, 59%);
}
#box4{
    background-color: hsl(224, 90%, 60%);
}